body {
	background-image: url(img/yellowpurple.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
header {
	background-color: purple;
}
.wrapper {
	cursor: pointer;
	height: 400px;
	width: 300px;
	padding: 12px 0px;
	perspective: 1800px;
	position: relative;
	margin: auto;
	transition: ease-in;
}

.card {
	height: 400px;
	width: 300px;
	position: absolute;
	/*border-color: purple;*/
	border: 10px solid transparent;
	-webkit-border-image: url(img/swirl.png) 50 round; /* Safari 3.1-5 */
	-o-border-image: url(img/yellowpurple.jpg) 50 round; /* Opera 11-12.1 */
	border-image: url(img/swirl.png) 50 round;
	transform-style: preserve-3d;
	transition: all 0.4s ease-in-out;
	background-color: rgb(255, 229, 3);
	box-shadow: 0px 6px 10px #4f2c50;
}

.card:hover {
	transform: rotateY(180deg);
	transition: all 0.4s ease-in-out;
	border: 6px solid rgb(255, 229, 3);;
}

.card #front_nine {
	height: 298px;
	width: 67%;
	backface-visibility: hidden; 
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;;
	position: absolute;
	overflow: hidden;
	text-align: right;
	color: #333;
	font-size: 5.3em;
	margin:auto;
	padding-top: 15%;
	color: rgb(112, 20, 127);
}

#line {
	width: 104%;
	text-align: right;
}

hr {
	height: 1px;
	border: 3px solid;
	margin: 0em 11px 9px 111px;
	padding: 0;
}

.card #back_nine {
	height: 400px;
	width: 300px;
	text-align: center;
	transform: rotateY(180deg);
	color: rgb(255, 229, 3);
	margin:auto;
	/*padding-top: 9%;*/
	font-size: 1.5em;
	background-color: rgb(112, 20, 127);
}

#product {

}

#stars {
	margin: auto;
	position: relative;
	top: 135px;
	overflow: hidden;
	width: 253px;
}

#zero {
	margin:auto;
	position:relative;
	top: 40px;
	right: 2px;
	height: 200px;
	width: 240px;
	font-size: 1.3em;
	color: rgb(255, 229, 3);
}

#zeroo {
	margin:auto;
	position:relative;
	top: 1px;
	right:23px;
	height: 200px;
	width: 300px;
	font-size: 4.3em;
	color: rgb(255, 229, 3);
}

#one {
	margin:auto;
	position:relative;
	top: 50px;
	right:12%;
	height: 200px;
	width: 307px;
	font-size: 1.3em;
	color: rgb(255, 229, 3);
}

#two {
	margin:auto;
	position:relative;
	top: 55px;
	right: 40px;
	height: 200px;
	width: 340px;
	font-size: 1.0em;
	color: rgb(255, 229, 3);
}

#three {
	margin:auto;
	position:relative;
	top: 40px;
	right: 25px;
	height: 200px;
	width: 302px;
	font-size: 1.0em;
	color: rgb(255, 229, 3);
}

#seven {
	margin:auto;
	position:relative;
	top: 32px;
	right: 40px;
	height: 200px;
	width: 340px;
	font-size: 0.7em;
	color: rgb(255, 229, 3);
}


#eight {
	margin:auto;
	position:relative;
	/*top: 32px;*/
	right: 40px;
	height: 200px;
	width: 340px;
	font-size: 1.15em;
	color: rgb(255, 229, 3);
}

#ten {
	margin:auto;
	position:relative;
	top: 32px;
	right: 40px;
	height: 200px;
	width: 340px;
	font-size: .7em;
	color: rgb(255, 229, 3);
}

#eleven {
	margin:auto;
	position:relative;
	top: 25px;
	right: 40px;
	height: 200px;
	width: 340px;
	font-size: .7em;
	color: rgb(255, 229, 3);
}

nav {
	width:250px;	
	margin: auto;
	padding: 32px;
}

button {
	font-size: 1.0em;
	border: none;
	width: 116px;
	height: 48px;
	text-align:center;
	text-decoration:none;
	color: #ecf0f1;
	outline-color: rgb(67, 22, 61);
	box-shadow: 0px 6px 10px #4f2c50;
	background: #7e2972;
	padding-left: 10px
}

button:active {
	border: none;
	position:relative;
	top:3px;
	/*box-shadow: 0px 0px #2c3e50;*/
	background: #ffe503;
	color: #7e2972;
}

button:focus {

}

#next {
	margin-right: 14px
}