.wrapper {
	cursor: pointer;
	height: 400px;
	width: 400px;
	perspective: 1200px;
	position: relative;
	margin: auto;
	transition: ease-in;
}

.card {
	height: 400px;
	width: 400px;
	position: absolute;
	border: 1px solid #300;
	transform-style: preserve-3d;
	transition: all 0.4s ease-in-out;
	background-color: rgb(255, 229, 3);
}

.card:hover {
	transform: rotateY(180deg);
	transition: all 0.4s ease-in-out;
}

.card #front_nine {
	height: 165px;
	width: 400px;
	backface-visibility: hidden;
	position: absolute;
	overflow: hidden;
	text-align: center;
	/*background-color: rgba(255, 251, 251, 1);*/
}

.card #stars {
	height: 400px;
	width: 400px;
	text-align: center;
	transform: rotateY(180deg);
}

#front_nine{
	color: #333;
	font-size: 2.3em;
	/*position: absolute;*/
	/*top: 86px;*/
	padding-top: 27%;
	color: rgb(112, 20, 127);
}