.wrapper {
	cursor: pointer;
	height: 400px;
	width: 400px;
	perspective: 1200px;
	position: relative;
	margin: auto;
	transition: ease-in;
}

.card {
	height: 400px;
	width: 400px;
	position: absolute;
	border: 1px solid #300;
	transform-style: preserve-3d;
	transition: all 0.4s ease-in-out;
	background-color: rgb(255, 229, 3);
}

.card:hover {
	transform: rotateY(180deg);
	transition: all 0.4s ease-in-out;
}

.card #front_nine {
	height: 298px;
	width: 67%;
	backface-visibility: hidden; 
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;;
	position: absolute;
	overflow: hidden;
	text-align: right;
	color: #333;
	font-size: 5.3em;
	margin:auto;
	padding-top: 9%;
	color: rgb(112, 20, 127);
}

#line {
	width: 104%;
	text-align: right;
}

hr {
	height: 1px;
	border: 3px solid;
	margin: 0em 11px 9px 111px;
	padding: 0;
}

.card #back_nine {
	height: 400px;
	width: 400px;
	text-align: center;
	transform: rotateY(180deg);
	color: rgb(255, 229, 3);
	margin:auto;
	/*padding-top: 9%;*/
	font-size: 1.3em;
	background-color: rgb(112, 20, 127);
}

#product {
	
}

#stars {
	margin: auto: ;
	position: absolute;
	top: 121px;
	left: 14%;
	overflow: hidden;
}